/* Write your CSS here */
.app-container {
  background-size: cover;
  height: 150vh;
  display: flex;
  flex-direction: row;
  font-family: Roboto;
}

.event-container {
  height: 150vh;
  width: 60vw;
  background-color: #323f4b;
  padding: 20px;
}

.heading {
  color: #ffffff;
  margin-left: 4%;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.Active-event-container {
  height: 140vh;
  width: 40vw;
  text-align: center;
  display: flex;
  justify-content: center;
}
